<div class="login-container">

  <h2>Login</h2>

  <form *ngIf="!isLoggedIn" (ngSubmit)="login()">

    <!-- USERNAME -->
    <div class="form-group">
      <label>Username</label>
      <input
        type="text"
        [(ngModel)]="username"
        name="username"
        required
        placeholder="Enter username"
      />
    </div>

    <!-- PASSWORD -->
    <div class="form-group password-container">

      <label>Password</label>

      <!-- wrapper IMPORTANT -->
      <div class="password-wrapper">

        <input
          [type]="passwordType"
          [(ngModel)]="passwordHash"
          name="password"
          required
          minlength="8"
          maxlength="8"
          placeholder="Enter 8 character password"
        />

        <!-- EYE ICON -->
        <button
          type="button"
          class="eye-btn"
          (click)="togglePasswordVisibility()">

          <i
            class="fa-solid"
            [ngClass]="passwordType === 'password'
              ? 'fa-eye-slash'
              : 'fa-eye'">
          </i>

        </button>

      </div>
    </div>

    <button type="submit" class="login-btn">Login</button>

    <div *ngIf="loginError" class="error">
      {{ loginError }}
    </div>

  </form>

  <!-- LOGGED IN -->
  <div *ngIf="isLoggedIn" class="welcome-box">
    <p>Welcome, <b>{{ username }}</b> 👋</p>
    <button (click)="logout()">Logout</button>
  </div>

  <button
    class="register-btn"
    *ngIf="!isLoggedIn"
    (click)="goToRegister()">
    Register
  </button>

</div>
