<nav>
  <div class="nav-center">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/booking" routerLinkActive="active">Booking</a>
    <a routerLink="/contactus" routerLinkActive="active">Contact</a>
    <a routerLink="/search" routerLinkActive="active">Search</a>
        <a routerLink="/bookinghis" routerLinkActive="active">Booking History</a>
    <!-- Login -->
    <a
      *ngIf="!isLoggedIn"
      routerLink="/login"
      class="login-btn"
    >
      Login
    </a>
 
    <!-- Logout -->
    <button
      *ngIf="isLoggedIn"
      (click)="logout()"
      class="login-btn"
    >
      Logout
    </button>
  </div>
</nav>

<router-outlet></router-outlet>
