<!-- HERO SECTION -->
<section class="hero">
  <img
    class="hero-slide"
    [src]="heroImages[currentHeroIndex]"
    alt="Hero Banner"
  />

  <div class="hero-text">
    <h1>Welcome to FastRent</h1>
    <p>Rent Cars & Bikes Easily, Anytime, Anywhere!</p>

    <!-- Scroll to steps -->
    <a class="cta-btn" (click)="scrollToSteps()">Book Now</a>
  </div>
</section>



<!-- BOOK YOUR RIDE SECTION -->
<section class="book-ride">
  <h2>Book Your Ride</h2>
  <p>Search available cars & bikes and book instantly</p>

  <a routerLink="/search" class="cta-btn">
    Go to Search
  </a>
</section>

<!-- BOOKING STEPS -->
<section class="stepper-container" #stepsSection>
  <h2 class="step-title">How Booking Works</h2>

  <div class="stepper">
    <div
      *ngFor="let step of steps; let i = index"
      class="step"
      [class.active]="currentStep === i + 1"
      [class.completed]="currentStep > i + 1"
    >
      <div class="circle">{{ i + 1 }}</div>
      <div class="label">{{ step }}</div>

      <div class="line" *ngIf="i < steps.length - 1">
        <div
          class="line-progress"
          [style.width.%]="currentStep > i + 1 ? 100 : 0"
        ></div>
      </div>
    </div>
  </div>

 <div class="buttons">
  <button type="button" (click)="prevStep()" [disabled]="currentStep === 1">
    Previous
  </button>

  <button type="button" (click)="nextStep()" [disabled]="currentStep === steps.length">
    Next
  </button>
</div>
</section>

<!-- INFO -->
<section class="info">
  <h2>Why Choose FastRent?</h2>
  <p>
    Affordable, reliable & insured vehicles.
    Easy booking and smooth rides every time.
  </p>
</section>
