<!-- HERO SECTION -->
<section class="hero">
  <img class="hero-bg" [src]="heroImages[currentHeroIndex]" />

  <div class="hero-content">
    <h1>Fast & Easy Vehicle Rentals</h1>
    <p>Book cars and bikes instantly at affordable prices</p>

   <button class="cta-btn" (click)="goToSearch()">
  Book Now
</button>
  </div>
</section>

<!-- SERVICES SECTION -->
<section class="services">
  <h2>Our Services</h2>

  <div class="service-grid">
    <div class="service-card">
      🚗 <h3>Car Rentals</h3>
      <p>Daily & hourly rental options available.</p>
    </div>

    <div class="service-card">
      🏍️ <h3>Bike Rentals</h3>
      <p>Affordable bikes for city & long rides.</p>
    </div>

    <div class="service-card">
      ⚡ <h3>Instant Booking</h3>
      <p>Quick and secure booking process.</p>
    </div>
  </div>
</section>

<!-- WHY CHOOSE US -->
<section class="why">
  <h2>Why Choose FastRent?</h2>

  <div class="why-grid">
    <div class="why-card">💳 Secure Payment</div>
    <div class="why-card">🛡️ Fully Insured</div>
    <div class="why-card">📍 Multiple Locations</div>
    <div class="why-card">⭐ Trusted Service</div>
  </div>
</section>