<div class="register-wrapper">

  <form (ngSubmit)="onSubmit(form)" #form="ngForm" novalidate>

    <h2>Create Account</h2>

    <!-- FULL NAME -->
    <div class="input-group">
      <input type="text" name="fullName"
        [(ngModel)]="user.fullName"
        #fullName="ngModel"
        required />
      <label>Full Name</label>
      <small *ngIf="fullName.invalid && fullName.touched">
        Full Name is required
      </small>
    </div>

    <!-- EMAIL -->
    <div class="input-group">
      <input type="email" name="email"
        [(ngModel)]="user.email"
        #email="ngModel"
        required email />
      <label>Email</label>
      <small *ngIf="email.invalid && email.touched">
        Enter valid email
      </small>
    </div>

    <!-- PHONE -->
    <div class="input-group">
      <input type="text" name="phone"
        [(ngModel)]="user.phone"
        #phone="ngModel"
        required pattern="^[0-9]{10}$" />
      <label>Phone</label>
      <small *ngIf="phone.invalid && phone.touched">
        Enter valid 10 digit number
      </small>
    </div>

    <!-- USERNAME -->
    <div class="input-group">
      <input type="text" name="username"
        [(ngModel)]="user.username"
        #username="ngModel"
        required />
      <label>Username</label>
      <small *ngIf="username.invalid && username.touched">
        Username is required
      </small>
    </div>

    <!-- PASSWORD -->
    <div class="input-group password-group">
      <input [type]="showPassword ? 'text' : 'password'"
        name="passwordHash"
        [(ngModel)]="user.passwordHash"
        #password="ngModel"
        required maxlength="8" />
      <label>Password</label>
      <span class="eye" (click)="togglePassword()">
        {{ showPassword ? '🙈' : '👁' }}
      </span>
      <small *ngIf="password.invalid && password.touched">
        Minimum 8 characters
      </small>
    </div>

     <!-- SUBMIT -->
    <button type="submit" [disabled]="form.invalid || loading">
      <span *ngIf="!loading">Register</span>
      <div *ngIf="loading" class="spinner"></div>
    </button>

  </form>

  <!-- ✅ SUCCESS POPUP (AFTER FORM) -->
  <div class="popup-overlay" *ngIf="showSuccess">
    <div class="popup-box">
      <div class="popup-icon">✔</div>
      <h3>Registration Successful!</h3>
      <p>Your account has been created successfully.</p>
      <button (click)="goToLogin()">Go to Login</button>
    </div>
  </div>

</div>